# Analyse des données brutes : boxplot, variance, écart type

#### Lecture du fichier

In [10]:
import pandas as pd
import numpy as np
# Lecture des données présentes dans le dépôt
train_data_file = "store_train.data"
train_data_df = pd.read_csv(train_data_file ,sep=" ",header=None, names = ["Store", "DayOfWeek", "Date", "Customers", "Open", "Promo", "StateHoliday", "ScoolHoliday"])
train_data_df.head()

,Store,DayOfWeek,Date,Customers,Open,Promo,StateHoliday,ScoolHoliday
0,625,3,2013-11-06,641,1,1,0,0
1,293,2,2013-07-16,877,1,1,0,1
2,39,4,2014-01-23,561,1,1,0,0
3,676,4,2013-09-26,1584,1,1,0,0
4,709,3,2014-01-22,1477,1,1,0,0

In [13]:
train_solutions_file = "store_train.solution"
train_solutions_df = pd.read_csv(train_solutions_file ,sep=" ",header=None, names = ["ObservedSales"])
train_solutions_df.head()

   ObservedSales
0           7293
1           7060
2           4565
3           6380
4          11647

In [18]:

train_df = train_data_df.join(train_solutions_df, how = 'right')
# Vérification du contenu
# Label of the data : Store, DayOfWeek, Date, Customers, Open, Promo, StateHoliday, SchoolHoliday
train_df.head()

Store             int64
DayOfWeek         int64
Date             object
Customers         int64
Open              int64
Promo             int64
StateHoliday     object
ScoolHoliday      int64
ObservedSales     int64
dtype: object

In [20]:
# train_df["Store"] = pd.Categorical(train_df["STATION"],ordered=False)

train_df["Store"] = pd.DataFrame(train_df["Store"], dtype=int)
train_df["DayOfWeek"] = pd.DataFrame(train_df["DayOfWeek"], dtype=int)
train_df["Date"] = pd.DataFrame(train_df["Date"], dtype="datetime64[ns]")
train_df["Customers"] = pd.DataFrame(train_df["Customers"], dtype=int)
train_df["Open"] = pd.DataFrame(train_df["Open"], dtype=bool)
train_df["Promo"] = pd.DataFrame(train_df["Promo"], dtype=bool)
train_df["StateHoliday"] = pd.DataFrame(train_df["StateHoliday"], dtype=bool)
train_df["ScoolHoliday"] = pd.DataFrame(train_df["ScoolHoliday"], dtype=bool)
train_df["ObservedSales"] = pd.DataFrame(train_df["ObservedSales"], dtype=int)

train_df.dtypes

Store                     int32
DayOfWeek                 int32
Date             datetime64[ns]
Customers                 int32
Open                       bool
Promo                      bool
StateHoliday               bool
ScoolHoliday               bool
ObservedSales             int32
dtype: object

In [22]:
train_df.describe()

               Store      DayOfWeek      Customers  ObservedSales
count  712045.000000  712045.000000  712045.000000  712045.000000
mean      558.314199       4.000265     633.399958    5776.336748
std       321.898476       1.996580     464.360651    3851.273075
min         1.000000       1.000000       0.000000       0.000000
25%       280.000000       2.000000     405.000000    3729.000000
50%       558.000000       4.000000     609.000000    5746.000000
75%       837.000000       6.000000     838.000000    7859.000000
max      1115.000000       7.000000    5494.000000   41551.000000

# Entrainement des modèles